@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

#base header table, #base footer table{
  height: 100%;
  width: 100%;
}

#base header{
  height: 100px;
  width: 100%;
  background-color: purple;
}
header h1, footer h1{
  min-width: 240px;
  font-size: 2em;
  text-align: center;
  color: white;
  position: relative;
}
header nav, footer nav{
  display: flex;
  align-items: center;
  justify-content: center;
}
#base footer{
  height: 150px;
  width: 100%;
  background-color: purple;
}
nav li a{
  text-decoration: none;
  color: white;
}
nav li:hover > a{
  border: 1px solid aqua;
}
nav li{
  list-style: none;
  display: inline-block;
}

@media screen and (max-width:420px) {
  footer ul{
    position: relative;
    top: -20px;
  }
  footer li{
    display: block;
    padding: 0.4em 0.4em 0 0.4em;
  }
}

@media screen and (min-width:320px) {
  a{
    padding: 0 0.5em;
  }
}

@media screen and (min-width:250px) and (max-width:320px) {
  a{
    padding: 0 0.3em;
  }
}

@media screen and (max-width:280px) {
  nav{
    width: 260px;
  }
}