    body{
      background-color: black;
    }
    #a{
      height: 150px;
      width: 150px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-200px, -10px);
      background: linear-gradient(0deg,red,blue);
    }
    #b{
      height: 100px;
      width: 100px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(70px, -120px);
      background: linear-gradient(90deg, red,orange);
    }
    #base{
      height: 200px;
      width: 300px;
      background: rgba(255, 255, 255, 0.05);
      backdrop-filter: blur(10px);
      border-radius : 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow:
      1px 1px 1px rgba(255, 255, 255, 0.3),
      -1px -1px 1px rgba(255, 255, 255, 0.3);
    }
    #base::after{
      content: "Created by - SwapniL";
      text-align : center;
      color: white;
      display: block;
      height: 20px;
      width: 200px;
      position: relative;
      top: calc(50% - 10px);
      left: calc(50% - 100px);
    }