*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper-one{
  background-color: rgb(237, 165, 255);
  padding: 2em;
}
.wrapper-two{
  background-color: rgb(228, 255, 152);
  padding: 2em;
}
.wrapper-three{
  background-color: rgb(117, 255, 156);
  padding: 2em;
}
.wrapper-four{
  background-color: rgb(93, 185, 255);
  padding: 2em;
}
@media screen and (min-width:850px){
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    margin: 1em;
  }
}
@media screen and (max-width:799px){
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin: 1em;
  }
}
@media screen and (max-width:599px){
  .container-main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (min-width:600px){
  .container-main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
}
.card{
  height: 250px;
  width: 250px;
  margin: 1em;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: blue;
  color: white;
  position: relative;
  box-shadow: 0px 0.5em 0.5em rgba(0, 0, 0, 0.3);
}
.container-main{
  color: white;
  margin: 1em;
}
.container-lang{
  margin: 1em;
}
.see-all a{
  text-decoration: none;
  color: black !important;
  background-color: orange;
  padding: 0.5em;
}
.block{
  height: 50px;
  width: 250px;
  background-color: rgb(0, 158, 158);
  margin: 1em;
  display: flex;
  position: relative;
  box-shadow: 0px 0.5em 0.5em rgba(0, 0, 0, 0.3);
}
.block > div{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.block:nth-child(2n+1) span{
  display: block;
  width: 35px;
  height: 55px;
  position: absolute;
  left: 0px;
  text-align: center;
  white-space: pre-wrap;
  background-color: purple;
}
.block:nth-child(2n) span{
  display: block;
  width: 35px;
  height: 55px;
  position: absolute;
  right: 0px;
  white-space: pre-wrap;
  text-align: center;
  background-color: purple;
}
.wrapper > h3{
  background-color: tomato;
  border-radius: 1em;
  color: white;
  width: 70%;
  padding: 0.3em;
  min-width: 300px;
  text-align: center;
}
.games-block{
  height: 200px;
  width: 200px;
  margin: 1em;
  display: flex;
  background-color: blue;
  box-shadow: 0px 0.5em 0.5em rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.games-block img{
  display: block;
  height: calc(100% - 2em);
  width: 200px;
}
.games-block h3{
  height: 1em;
  text-align: center;
}
.language-block{
  height: 150px;
  width: 150px;
  margin: 1em;
  display: flex;
  box-shadow: 0px 0.5em 0.5em rgba(0, 0, 0, 0.3);
  color: black;
  background-color: #fff;
  overflow: hidden;
}
.language-block img{
  display: block;
  height: calc(100% - 4em);
  width: 150px;
}
.language-block h3{
  height: 1em;
  text-align: center;
  color: black;
}
.card img{
  display: block;
  height: calc(100% - 1.5em);
  width: 250px;
  border: 5px solid white;
}
.card h3{
  height: 1em;
  margin: 0.2em;
  position: absolute;
  top: calc(100% - 1.5em);
  text-align: center;
}
header table,footer table{
  height: 100%;
  width: 100%;
}
header{
  position: relative;
  height: 100px;
  width: 100%;
  background-color: teal;
  color: white;
}
header h1, footer h1{
  min-width: 240px;
  font-size: 2em;
  text-align: center;
  position: relative;
}
header nav, footer nav{
  display: flex;
  align-items: center;
  justify-content: center;
}
footer{
  height: 150px;
  width: 100%;
  color: white;
  background-color: teal;
}
nav li a{
  text-decoration: none;
  color: white;
}
nav li:hover  a{
  border: 1px solid aqua;
}
nav li{
  list-style: none;
  display: inline-block;
}
@media screen and (max-width:420px) {
  footer ul{
      position: relative;
      top: -20px;
  }
  footer li{
      display: block;
      padding: 0.4em 0.4em 0 0.4em;
  }
  .container-lang{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (min-width:420px) {
  .container-lang{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
}
@media screen and (max-width:250px) {
  a{
      padding: 0 0.2em;
  }
}
@media screen and (min-width:250px) {
  a{
      padding: 0 0.5em;
  }
}
@media screen and (max-width:280px) {
  nav{
      width: 260px;
  }
}